@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
/* Hide the typed.js blinking cursor */
.typing-cursor {
  display: none;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
